.container{
    max-width: 720px;
    margin: 0 auto;
    padding: 1.35rem .625rem;

    .content{
        display: flex;
        flex-direction: column;

        .title{
            font-weight: 700;
            text-align: justify;
            font-size: 1.75rem;
            color: var(--gray-100);
        }

        .subtitle{
            text-align: justify;
            color: var(--gray-200);
            padding-top: .5rem;
        }

        &+.content{
            margin-top: 3rem;
        }
    }
}
