.banner {
  width: 100vw;
  max-height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.container {
  max-width: 720px;
  margin: 5rem auto;
  padding: 0 0.625rem;

  .content {
    display: flex;
    flex-direction: column;
    text-align: justify;

    .title {
      color: var(--gray-100);
      font-weight: 700;
      font-size: 3rem;
    }

    .postHeading {
      font-size: 2.25rem;
      font-weight: 700;
      color: var(--gray-200);
      margin: 3rem 0;
    }

    p {
      & + p {
        margin-top: 2rem;
      }
    }
    ul {
      margin: 2rem 0;
      li {
        & + li {
          margin-top: 2rem;
        }
      }
    }

    b,
    strong {
      font-weight: 700;
    }

    a {
      color: var(--pink-500);
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.7);
      }
    }
  }

  hr {
    margin: 4rem 0;
    border: 1px solid var(--gray-200);
    opacity: .1;
  }

  .postNav {
    display: flex;

    div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & + div {
        align-items: flex-end;
      }

      p {
        letter-spacing: -0.5px;
      }

      button {
        border: 0;
        background: none;
        margin-top: .3rem;
        color: var(--pink-500);
        transition: filter 0.2s;
    
        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }
}
