.container {
  max-width: 720px;
  margin: 5rem auto;
  padding: 0 0.625rem;

  .content {
    display: flex;
    flex-direction: column;
    text-align: justify;

    .title {
      color: var(--gray-100);
      font-weight: 700;
      font-size: 3rem;
    }

    .postHeading {
      font-size: 2.25rem;
      font-weight: 700;
      color: var(--gray-200);
      margin: 3rem 0;
    }

    b,
    strong {
        font-weight: 700;
    }

    a,
    link {
      color: var(--pink-500);
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
